body{ font-family:  Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;}
/*estilo padrão */
.conteiner{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   


}
.botão{
    background-color: #b30000;
    padding: 12px 20px;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
   
}
/*configuração do menu*/
#menu{
width: 100%;
height: 81px;
background-color:white;
border-bottom: 2px solid #b30000;
justify-content: center;
display: flex;

}
.logo{
    width: 240px;
    height: 84px;
   
}

/*ESTILO BANNER*/
.banner img{
    width: 100%;
    
}   

/*estiLO RAPIDO*/
#rapido{
    width: 100%;
    background-color: #f7f7f7;
    background-position: 100%;
    background-size: cover;

}
h1{
   
    font-size: 56px;
    color: #b30000;
}
h2{color: #202020;
font-size: 40px;
font-weight: 300px;
text-align: center;
}
h3{ 
color: #202020;
text-align: center;

}

/* ESTILO SOBRE*/
.box{
    width: 500px;

}
.box img{ 
    width: 400px;

}
.box h2{
    font-size: 24px;
    text-align: left;
    font-weight:bold;
    
}
#conteiner1{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:1000px){
#menu{ 
width: 100%;
height: auto;

}
.banner{
    width: 100%;
   height: auto;

   
}
#conteiner1{
    flex-direction: column;
  

}
.box{
    width: 100%;
    height: auto;

}

.conteiner{
    flex-direction: column;
    height: auto;
    display: flex;
}
.botão{
    width: 80%;
    padding: 12px 20px;
    justify-content: center;
    display: flex;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 30px;
}
#sobre{
    padding: 0 16px;
}
.box img{
    width: 100%;
}
.logo{
    width: 200px;
}
}